{{ partial "grid-head.html" . }}	

  <p class="posts-name">Recent posts:</p>
  {{ $baseurl := .Site.BaseURL }}
  {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
  <ul class="posts">
  {{ range $name, $page := $paginator.Pages }}
	<li>
	  <a href="{{ .Permalink }}">{{ $page.Title }}</a>

	  <p class="footnote">
		submitted <time datetime="{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}" class="post-list timeago">{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}</time>

		{{ if or $page.Params.tags $page.Params.categories $page.Params.series }}
		to
		{{ end }}

		{{ with $page.Params.tags }}
		tags:[ {{ range $page.Params.tags}}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}]
		{{ end }}

		{{ with $page.Params.categories }}
		categories:[ {{ range $page.Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}]
		{{ end }}

		{{ with $page.Params.series }}
		series:[ {{ range $page.Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}]
		{{ end }}

	  </p>
	  <p class="post-summary">
	  	{{ $page.Summary }}
	  </p>
	</li>
  {{ end }}
  </ul>

{{ partial "pagination.html" . }}

{{ partial "grid-tail.html" . }}